:root {
  --wheel-font: 'Lato', 'Quicksand', sans-serif;
  --wheel-size: 800px;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 5px;
  --wheel-color: #3a3a3a;
  --neutral-color: white;
  --PI: 3.14159265358979;
  --nb-item: 0;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 2;
  --spinning-duration: 20s;
  --reset-duration: 0.25s;
}

.wheel-container {
  display: block;
  position: absolute;
  box-sizing: content-box;
  width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  padding: 3px;
  margin: auto;
  border-radius: 50%;
  user-select: none;
  transition: opacity 0.3s;
}

.wheel-container::before,
.wheel-container::after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel-container::before {
  right: 0px;
  border-right-color: inherit;
}

.wheel-container::after {
  right: -5px;
  border-right-color: var(--neutral-color);
}

.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--wheel-color);
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
}

.wheel.spinning {
  transition: transform var(--spinning-duration);
  transform: rotate(
    calc(var(--nb-turn) * 360deg + (-360deg * var(--selected-item) / var(--nb-item, 1)))
  );
}

.wheel-middle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  border: 10px solid var(--wheel-color);
  cursor: pointer;
  margin-left: -60px;
  margin-top: -60px;
  background-color: white;
}

.wheel::after {
  display: block;
  position: absolute;
  content: '';
  background-color: var(--neutral-color);
  width: 25px;
  height: 25px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.wheel-item {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
  color: var(--neutral-color);
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: var(--wheel-font);
}

.wheel-item:before {
  content: ' ';
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.25;

  --slice-max-width: calc(var(--PI) * var(--wheel-size) + var(--wheel-size) / 2);
  --slice-width: calc((var(--slice-max-width) / var(--nb-item)) - var(--wheel-slice-spacing));
  border: solid transparent calc(var(--slice-width) / 2);
  border-left: solid transparent 0;

  border-right: solid var(--neutral-color) calc(var(--wheel-size) / 2);
}

.wheel-item-container {
  width: 70%;
  margin-left: 30%;
  display: flex;
  align-items: center;
}

.wheel-item-image {
  width: 30%;
  padding-bottom: 30%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.wheel-item-text {
  width: 60%;
  margin-right: 25px;
}

.wheel-item-text div {
  width: 100%;
}
